*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    background-color: #181A1B;
}
.clear {
    clear: both;
}

.container {
    width: 100%;
    max-width: 1200px; /*largura maxima*/
    margin: 20px auto;
    padding: 30px 0;
    border: 3px solid rgb(190, 16, 16);
}

.img-wraper {
    width: 33.3%;
    padding-top: calc(33.3% / 1.6);
    float: left;
    background-color: #fff;
    position: relative;
    border: 4px solid #fff;
  
}


.img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}