*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto-Light";
}
/* resetando */

html, body {
    height: 100%;
}

/* importando fonts */
@font-face {
    src: url('../fonts/Roboto-Light.ttf');
    font-family: "Roboto-BlackItalic";
}

.clear{
    clear: both;
}


.center {
    max-width: 2000px;
    width: 100%;
    margin: 0 auto;
}

.center > .h2 {
    background-color: rgba(255, 0, 0, 0.37);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px 50px;
}

.header {
    width: 100%;
    padding: 0 2%;
    height: 60px;
    background-color: #462663;
}


.header img{
    margin: 1px;
    width: 180px;
    height: 50px;
}


.container-banner {
    width: 100%;
    padding: 0 2%;
    height: 480px;
    background-image: url('../images/header_bg.png');
    box-sizing: cover;
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    
}


.container-banner > .center {
    height: 100%;
    
}

/* style do formulario */
.form {
    padding: 10px;
    width: 400px;
    height: calc(100% + 30px);
    float: right;
    position: relative;
    top: -15px;
    border: 3px solid rgba(224, 209, 209, 0.5);
    border-radius: 6px;
    background-color: #fff;
    background-clip: padding-box;
   
}


.form h2 {
    display: flex;
    justify-content: center;
    font-weight: normal;
    color: rgb(101, 59, 180);
    font-size: 21px;
}

/* input-container */
.input-container {
    margin-top: 20px;
}

.input-container span{
    display: inline-block;
    width: 100%;
    color: rgb(101, 59, 180);
    font-size: 17px;
}

.form p {
    margin: 40px 0;
    font-size: 17px;
    color: rgb(101, 59, 180);
}

.input-container input[type=text] {
    margin-top: 10px;
    width: 344px;
    height: 55px;
    border: 1px solid rgba(192, 116, 160, 0.253);
    border-radius: 8px;
    
}

/* Submit */
.form .input-submit-container{
    text-align: center;
}

.form input[type=submit] {
    border: 0;
    border-radius: 5px;
    border-bottom: 5px solid rgb(77, 27, 141);
    color: #fff;
    font-size: 25px;
    width: 280px;
    height: 56px;
    display: inline-block;
    cursor: pointer;
    background-color: rgb(96, 31, 180);
    
}

.form input[type=submit]:hover {
    background-color: rgba(50, 16, 112, 0.89);
    
}


/* container-list */
.container-list {
    padding: 30px;
    margin-top: 100px;
    float: left;
    width: 519px;
    height: 270px;
    background-color: rgba(17, 2, 17, 0.7);
    display: flex;
    align-items: center;
    justify-content: left;
}

.container-list ul{
    list-style-position: inside;
}

.container-list ul li {
    margin-top: 18px;
    color: #fff;
}


/* container-2 */
.container-2 {
    padding: 40px 2%;
    background-color: #462663; 
    text-align: center;
   
}

.container-2 h2 {
    font-weight: normal;
    color: #fff;
}

.container-2 p {
    width: 100%px;
    max-width: 768px;
    margin: 15px 0;
    display: inline-block;
    text-align: justify;
    color: rgba(222, 210, 228, 0.829);
    
}

/* imagem de seta */
.arrow {
    position: relative;
    top: 59px;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    background-image: url("../images/arrow.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 1px solid rgb(143, 136, 184);
    border-radius: 50px;
}


.section-1 {
    /* min-width: 1200px; */
    padding: 80px 2%;
    background-color: #fff;
}

.section-1 h2 {
    text-align: center;
    color: #462663;
    font-weight: normal;
   
}

.container-section {
    margin-top: 40px;
    text-align: center;
    background-color:#462663; 
    box-shadow: inset 0 0 1em rgb(15, 9, 9), 0 0 1em rgba(0, 0, 0, 0.027);

}

.container-single {
    float: left;
    /* margin-right: -4px; */
    width: 33.3333%;
    padding: 30px; 
}


.container-single p {
    display: inline-block;
    text-align: justify;
    padding: 10px;
    color: #fff;
    font-family: 'Arial Narrow', Arial, sans-serif;

    
}

.container-single img {
    width: 155px;
    height: 170px;
    border: 1px solid rgba(0, 0, 0, 0.335);
    border-radius: 8%;
    box-shadow: 10px -15px rgba(255, 255, 255, 0.829);
    
    
}

/* footer */
.footer {
    border-top: 2px solid black;
    padding: 60px 0;
    text-align: center;
    color: #fff;
    background-color:#462663; 
    
}

/* responsivo */
@media screen and (max-width: 1024px) {
    .header {
        height: auto;
        width: 100%;
        padding: 15px 0;
        text-align: center;
    }

    .header img {
        margin: 0;
    }

    .container-list {
        padding: 30px 0;
        width: 40%;
        /* margin-top: 30px; */
        float: left;
        display: inline-block;
        max-width: 500px;
      
        height: auto;
       
    }

    .container-banner {
        width: 100%;
        padding: 40 2%;
        height: auto;
        text-align: center;
        
    }


    .form {
        max-width: 400px;
        margin-top: 30px;
        padding: 10px;
        width: 60%;
        height: 100%;
        display: inline-block;
        float: right;
        
        top: 0;
     
       
    }

    .input-container input[type=text] {
        width: 100%;
        height: 55px;
    }

    .form input [type=submit] {
        min-width: 280px;
        height: 56px;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .container-list {
        margin-top: 0;
        float: none;
        display: inline-block;
        width: 100%;
    }

    .form {
        float: none;
        display: inline-block;
        width: 90%;
    }

    .container-single {
        float: none;
        display: inline-block;
        width: 100%;
        max-width: 600px;
        padding: 30px 0; 
    }

}